<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="static/main.css">

</head>

<body>
  <ul class="topnav">
    <li><a href="/" style="color: rgb(213, 84, 21)"><h4>Perspective</h4></a></li>
    <li class="right" ><a href="/brands_data">Brands Data</a></li>
    <li class="right actv" style="background-color: rgb(213, 84, 21)"><a href="/brand">Brands</a></li>
    <li class="right"><a href="/agencies_data">Agency Data</a></li>
    <li class="right"><a href="/agency">Agencies</a></li>
  </ul>

  <nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Perspective</a>
    </div>
</nav>

      <p>Need some charts here</p>